FaceRecoTrackService/bin/Debug/net8.0/win-x64/appsettings.Development.json
FaceRecoTrackService/bin/Debug/net8.0/win-x64/appsettings.json
FaceRecoTrackService/bin/Debug/net8.0/win-x64/concrt140.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/cvextern.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Emgu.CV.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.deps.json
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.exe
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.pdb
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.runtimeconfig.json
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.staticwebassets.endpoints.json
FaceRecoTrackService/bin/Debug/net8.0/win-x64/FaceRecoTrackService.xml
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Google.Protobuf.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Grpc.Core.Api.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Grpc.Net.Client.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Grpc.Net.Common.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/libSkiaSharp.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/libusb-1.0.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Microsoft.ML.OnnxRuntime.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Microsoft.OpenApi.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/msvcp140_1.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/msvcp140_2.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/msvcp140_atomic_wait.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/msvcp140_codecvt_ids.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/msvcp140.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Npgsql.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/onnxruntime_providers_shared.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/onnxruntime_providers_shared.lib
FaceRecoTrackService/bin/Debug/net8.0/win-x64/onnxruntime.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/onnxruntime.lib
FaceRecoTrackService/bin/Debug/net8.0/win-x64/opencv_videoio_ffmpeg4120_64.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Qdrant.Client.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/SkiaSharp.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Swashbuckle.AspNetCore.Swagger.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Swashbuckle.AspNetCore.SwaggerGen.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/Swashbuckle.AspNetCore.SwaggerUI.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/System.Diagnostics.DiagnosticSource.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/System.IO.Pipelines.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/System.Numerics.Tensors.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/System.Text.Encodings.Web.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/System.Text.Json.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/vcruntime140_1.dll
FaceRecoTrackService/bin/Debug/net8.0/win-x64/vcruntime140.dll
FaceRecoTrackService/obj/Debug/net8.0/win-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FaceRecoTrackService/obj/Debug/net8.0/win-x64/apphost.exe
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceReco.A11632A1.Up2Date
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.AssemblyInfo.cs
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.AssemblyInfoInputs.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.assets.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.csproj.AssemblyReference.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.csproj.CoreCompileInputs.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.csproj.FileListAbsolute.txt
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.dll
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.GeneratedMSBuildEditorConfig.editorconfig
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.genruntimeconfig.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.GlobalUsings.g.cs
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.MvcApplicationPartsAssemblyInfo.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.MvcApplicationPartsAssemblyInfo.cs
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.pdb
FaceRecoTrackService/obj/Debug/net8.0/win-x64/FaceRecoTrackService.xml
FaceRecoTrackService/obj/Debug/net8.0/win-x64/rjsmcshtml.dswa.cache.json
FaceRecoTrackService/obj/Debug/net8.0/win-x64/rjsmrazor.dswa.cache.json
FaceRecoTrackService/obj/Debug/net8.0/win-x64/rpswa.dswa.cache.json
FaceRecoTrackService/obj/Debug/net8.0/win-x64/staticwebassets.build.endpoints.json
FaceRecoTrackService/obj/Debug/net8.0/win-x64/staticwebassets.build.json
FaceRecoTrackService/obj/Debug/net8.0/win-x64/staticwebassets.build.json.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/swae.build.ex.cache
FaceRecoTrackService/obj/Debug/net8.0/win-x64/ref/FaceRecoTrackService.dll
FaceRecoTrackService/obj/Debug/net8.0/win-x64/refint/FaceRecoTrackService.dll
FaceRecoTrackService/obj/FaceRecoTrackService.csproj.nuget.dgspec.json
FaceRecoTrackService/obj/FaceRecoTrackService.csproj.nuget.g.props
FaceRecoTrackService/obj/FaceRecoTrackService.csproj.nuget.g.targets
FaceRecoTrackService/obj/project.assets.json
FaceRecoTrackService/obj/project.nuget.cache
.vscode/launch.json
.vscode/tasks.json
